nav.white(role="navigation")
  .nav-wrapper.container
    a#logo-container.brand-logo(href="/") Redux Poll
    ul.right.hide-on-med-and-down
      if !user
        li: a(href="/login") Log In
        li: a(href="/signup") Sign Up
      else
        li: a(href="/logout") Sign Out
    ul#nav-mobile.side-nav
      if !user
        li: a(href="/login") Log In
        li: a(href="/signup") Sign Up
      else
        li: a(href="/logout") Sign Out
    a.button-collapse(href="#", data-activates="nav-mobile")
      i.material-icons menu
