doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta(name="description" content="Store text snippets.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="csrf-token" content=_csrf)

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection")
    link(href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection")

  body
    include partials/header

    block content

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="/js/materialize.js")
    script(src="/js/init.js")
    
    include partials/toast
    
    block scripts
