doctype html

html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title= title
    meta(name="description" content="Store text snippets.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="csrf-token" content=_csrf)

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css")

  body
    .mdl-layout.mdl-js-layout
      include partials/header

      main.mdl-layout__content
        include partials/flash
        block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js")
    
    block scripts
