extends ../layout

block content
  .container
    h3.center-align Log In
    .row
      form.col.s12(role="form" method="POST")
        input(type="hidden" name="_csrf" value=_csrf)
        .row
          .input-field.col.s4.offset-s4
            input#username(type="text" name="username" required)
            label(for="username") Username
          .input-field.col.s4.offset-s4
            input#password(type="password" name="password" required)
            label(for="password") Password
          p.col.s4.offset-s4
            input#remember(type="checkbox" name="remember")
            label(for="remember") Keep me logged in
          .center-align.col.s4.offset-s4
            button.btn.waves-effect.waves-light(type="submit")
              | Log In
              i.material-icons.right send
      .center-align
        p
          | Don't have an account?&nbsp;
          a(href="/signup") Sign Up
