extends ../layout

block content
  .container
    h3.center-align Sign Up
    .row
      form.col.s12(role="form" method="POST")
        input(type="hidden" name="_csrf" value=_csrf)
        .row
          .input-field.col.s4.offset-s4
            input#username(type="text" name="username" required)
            label(for="username") Username
          .input-field.col.s4.offset-s4
            input#password(type="password" name="password" required)
            label(for="password") Password
          .center-align.col.s4.offset-s4
            button.btn.waves-effect.waves-light(type="submit")
              | Sign Up
              i.material-icons.right send
      .center-align
        p
          | Already have an account?&nbsp;
          a(href="/login") Log In 
